body
    {
        background: linear-gradient(100deg, rgb(133, 185, 203), rgb(114, 242, 216));
        margin: 10px;
        padding: 10px;
    }

h1
    {
        color:rgb(0, 0, 0);
        font-size: 50pt;
        font-family: Arial;
        font-style: italic;
        text-align: center;
        background-color: rgb(216, 245, 255);
    }

h2
    {
        color:rgb(0, 0, 0);
        font-size: 30pt;
        font-family: Arial;
        font-style: italic;
        text-align: center;
        padding: 20px;
        background-color: rgb(103, 142, 173);
    } 
    
h3
    {
        color:rgb(0, 0, 0);
        font-size: 20pt;
        font-family: Arial;
        text-align: center;
        margin: 0;
        padding: 10px;
        background-color: rgb(216, 245, 255);
    }

h4
    {
        color:rgb(0, 0, 0);
        font-size: 12pt;
        font-family: Arial;
        text-align: left;
        margin: 0;
        padding: 10px;
        background-color: rgb(216, 245, 255);
    }

h6
    {
        color:rgb(0, 0, 0);
        font-size: 20pt;
        font-family: Arial;
        text-align: center;
        margin: 0;
        padding: 10px;
        background-color: rgb(216, 245, 255);
    }

h1, h2, h3, h4, h6
    {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

h1, h2, h3 img
    {
        border: 5px solid rgb(13, 40, 64);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }

h3+h3
    {
        padding-top: 10px;
    }


.resume-container 
    {
        position: relative;
        border: 5px solid #145566;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

.ach-con
    {
        position: relative;
        border: 5px solid #145566;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        width: 50%;
    }

.school
    {
        color:rgb(0, 0, 0);
        font-size: 12pt;
        font-family: Arial;
        text-align: center;
        padding: 20px;
        background-color: rgb(216, 245, 255);
        margin-bottom: 30px;
        border: 5px solid rgb(13, 40, 64);
        border-radius: 10px;
    }

.myfam
    {
        color:rgb(0, 0, 0);
        font-size: 30pt;
        font-family: Arial;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 50;
        background-color: rgb(216, 245, 255);
        margin: 30px;
        border: 5px solid rgb(13, 40, 64);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

.mycats
    {
        color:rgb(0, 0, 0);
        font-size: 30pt;
        font-family: Arial;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 50;
        background-color: rgb(216, 245, 255);
        margin: 30px;
        border: 5px solid rgb(13, 40, 64);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

.mymovie
    {
        color:rgb(0, 0, 0);
        font-size: 30pt;
        font-family: Arial;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 50;
        background-color: rgb(216, 245, 255);
        margin: 30px;
        border: 5px solid rgb(13, 40, 64);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

.row
    {
        display: flex;
        justify-content: center;
    }
    
figure 
    {
        margin-right: 20px;
    }

h5
    {
        color:rgb(0, 0, 0);
        font-size: 20pt;
        font-family: Arial;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

h5 center
    {
        margin-bottom: 10px;
    }

.menu a
    {
        color: rgb(0, 0, 0);
        font-size: 20pt;
        padding-top: 20px;
        margin: 15px;
        font-family: Arial;
        font-style: italic;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

.menu a:hover
    {
        font-size: 20pt;
        font-family: Arial;
        color: rgb(255, 255, 255);
        background-color: rgb(20, 85, 102);
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
    }

.menu
    {
        width: 100%;
        height: 6em;
        background-color: rgb(110, 144, 187);
        display: flex;
        justify-content: center;
        border: 5px solid #97eaff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        flex-wrap: wrap;
        flex-direction: row;
    }



.contact
    {
        width: 100%;
        background-color: rgb(101, 187, 154);
        text-align: center;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

.link
    {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

.link a 
    {
        color: rgb(0, 0, 0);
        font-size: 20pt;
        padding: 10px 20px;
        margin: 15px;
        font-family: Arial;
        font-style: italic;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }

.link a:hover 
    {
        font-size: 20pt;
        font-family: Arial;
        color: rgb(255, 255, 255);
        background-color: rgb(20, 85, 102);
        transform: scale(1.05);
    }
    
.map 
    {
        text-align: center;
        font-family: Arial;
        font-size: 20px;
        width: 100%;
        position: relative;
        z-index: 0;
    }

table, tr, td, th
    {
        border: 2px solid black;
        border-collapse: collapse;
        font-family: Arial;
        font-style: italic;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }

td
    {
        padding:8px;
    }

tr
    {
        background-color: rgb(135, 222, 215);
    }

th
    {
        background-color: black;
        color:rgb(200, 255, 255)
    }

tr:nth-child(odd)
    {
        background-color: rgb(210, 255, 250);
    }

tr:hover
    {
        background-color:rgb(139, 197, 216);
    }
